#contenido{
    margin:1em;
}
table{
    margin-top:1em;
    text-align: center;
}
.acomodo{
    margin-left:2em;
    font-weight: bold;
    
}
h5{
    margin-top:1em;
}
h5:first-child{
    margin-top:0em;
}
.modal-body > #contenido{
    height: 50vh;
    overflow-y: scroll;
}
li{
    list-style-type: disc;
}